/* 766px */
@media only screen and (max-width: 766px) {
    .banner .card{
        margin: 40px 0;
    }
  }
  @media only screen and (max-width: 766px) {
    .stats .stats-custom{
        margin: 40px 30px;
    }
  }
  @media only screen and (max-width: 766px) {
    .meet-our-experts{
        margin: 40px 0;
    }
  }
  @media only screen and (max-width: 766px) {
    .our-department .card{
        margin: 20px 0;
    }
  }
  @media only screen and (max-width: 766px) {
    .our-department{
        padding: 40px 0;
    }
  }
  @media only screen and (max-width: 766px) {
    .our-department .heading-title{
        margin-bottom: 40px;
        padding-left: 15px;     
    }
  }
  @media only screen and (max-width: 766px) {
    .leading-medicine .heading-title{
        margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: 766px) {
    .leading-medicine .card{
        margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 766px) {
    .our-team .heading-title{
        margin: 40px 0;
    }
  }
  @media only screen and (max-width: 766px) {
    .our-team .card{
        margin-bottom: 40px;
    }  
  }
  @media only screen and (max-width: 766px) {
    .join-us .heading-title{
        margin: 40px
    }
  }
  @media only screen and (max-width: 766px) {
    .join-us .heading-title{
        margin: 40px
    }
  }
  @media only screen and (max-width: 766px) {
    .join-us .form-input{
        margin-bottom: 40px;
    }
  }
  @media only screen and (max-width: 766px) {
    .copyright-content{
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
    
    }
  }
/* 990px */
@media only screen and (max-width: 990px) {
    .banner .card{
        margin: 40px 0;
    }
  }
  @media only screen and (max-width: 990px) {
    .stats .stats-custom{
        margin: 40px 30px;
    }
  }
  @media only screen and (max-width: 990px) {
    .meet-our-experts{
        margin: 40px 0;
    }
  }
  @media only screen and (max-width: 990px) {
    .our-department .card{
        margin: 20px 0;
    }
  }
  @media only screen and (max-width: 990px) {
    .our-department{
        padding: 40px 0;
    }
  }
  @media only screen and (max-width: 990px) {
    .our-department .heading-title{
        margin-bottom: 40px;
        padding-left: 15px;     
    }
  }
  @media only screen and (max-width: 990px) {
    .leading-medicine .heading-title{
        margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: 990px) {
    .leading-medicine .card{
        margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 990px) {
    .our-team .heading-title{
        margin: 40px 0;
    }
  }
  @media only screen and (max-width: 990px) {
    .our-team .card{
        margin-bottom: 40px;
    }  
  }
  @media only screen and (max-width: 990px) {
    .join-us .heading-title{
        margin: 40px
    }
  }
  @media only screen and (max-width: 9906px) {
    .join-us .heading-title{
        margin: 40px
    }
  }
  @media only screen and (max-width: 990px) {
    .join-us .form-input{
        margin-bottom: 40px;
    }
  }
  @media only screen and (max-width: 990px) {
    .copyright-content{
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
    
    }
  }

/* 1388 */
  @media only screen and (max-width: 1388px) {
    .leading-medicine .card .star-rating{
        padding: 0;
    }
  }
  @media only screen and (max-width: 1388px) {
    header .button .btn-custom{
        padding: 15px 10px;
        margin-left: 15px;
    }
  }
  @media only screen and (max-width: 1388px) {
    .button-banner .btn-get-custom {
        background-color: #FF685B;
        color: #FFF;
        padding: 15px 20px;
      
    }
  }
  @media only screen and (max-width: 1388px) {
    .button-banner .btn-get-custom:hover {
        background-color: #FF685B;
        color: #FFF;
        padding: 15px 20px;
      
    }
  }
  @media only screen and (max-width: 1388px) {
    .banner .card .card-body-custom {
        padding: 38px 25px;
    }
  }
  
  
  

  
  